#row{
    margin: 0 auto;
    padding-top: 100px;
}
#username{
    float: right;
    font-size: 20px;
    margin-right: 30px;  
}

#buttons #logout{
    float: right;
    margin-right: 15px
}
#buttons #view{
    float: right;
    margin-right: 15px
}
