<meta charset="UTF-8">
<title>Online food recipe</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/css/bootstrap.min.css"></script>
<style>
    body    { padding-top:50px; background:black; }
    /* Login */
    #login{
        width: 320px;
        height: 420px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
#loginbox input[type="email"], input[type="password"] {
    border:none;
    border-bottom: 1px solid rgb(92, 40, 40);
    background:transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
}
.jumbotron .form-group #email {
    border:none;
    border-bottom: 1px solid rgb(92, 40, 40);
    background:transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
label{
    margin:0;
    padding: 0;
    font-weight: bold;
}
/* registration */
#register{
        width: 420px;
        height: 520px;
        margin: 0 auto;
}
.jumbotron .form-group #name {
    border:none;
    border-bottom: 1px solid rgb(92, 40, 40);
    background:transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
}
.jumbotron .form-group #secret {
    border:none;
    border-bottom: 1px solid rgb(92, 40, 40);
    background:transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
}
/* create recipe */
.jumbotron .form-group #procedure{
    height: 250px;
}
#recipe {
    width: 520px;
    height: 720px;
    margin: 0 auto;
    margin-bottom: 20px;

}
footer{
        background: #333;
        padding: 10px;
        color: rgb(221, 25, 25);
        font-size: 20px;
        bottom: 0px;
        
      }
      #header{
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        height: 35px;
      }
</style>