#side{
    background:#151719;
    margin:0px;
    width: 250px;
    height: 500px;
    position: fixed;
    left:-250px;
    transition: all 500ms linear
}
#side.active{
    left:0px
}

#side #toggle{
    position: absolute;
    left: 300px
}
#side #toggle span{
    display: block;
    width: 40px;
    height: 5px;
    background: red;
    margin: 8px 0px;
}
#side #btd{
    margin: 20px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btc{
    
    margin: 10px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btl{
    margin: 10px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btns{
    top:90px;
    position: relative;
    left: 30px
}
hr{
    background: white;
    top: 70px;
    position: relative;
}
#circle{
    width: 100px;
    height: 100px;
    background: white;
    left: 70px;
    top: 40px;
    position: relative;
    border-radius: 50%
}
#Acard{
    width:50%;
    margin: auto;
}
#user{
    right:200px;
    border:1px solid;
}
#use{
    background: red;
    float:left;
    border-bottom: 1px solid
}
h5:hover{
 cursor: pointer;
}
h5{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}