#side{
    background:#151719;
    margin:0px;
    width: 250px;
    height: 500px;
    position: fixed;
    left:-250px;
    transition: all 500ms linear
}
#side.active{
    left:0px
}

#side #toggle{
    position: absolute;
    left: 300px
}
#side #toggle span{
    display: block;
    width: 40px;
    height: 5px;
    background: red;
    margin: 8px 0px;
}
#side #btd{
    margin: 20px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btc{
    
    margin: 10px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btl{
    margin: 10px;
    right:30px;
    color: white;
    width: 150px;
}
#side #btns{
    top:90px;
    position: relative;
    left: 30px
}
hr{
    background: white;
    top: 70px;
    position: relative;
}
#circle{
    width: 100px;
    height: 100px;
    background: white;
    left: 70px;
    top: 40px;
    position: relative;
    border-radius: 50%
}
#Acard{
    width:50%;
    margin: auto;
}
#user{
    right:200px;
    border:1px solid;
}
#use{
    background: red;
    float:left;
    border-bottom: 1px solid
}
h5:hover{
 cursor: pointer;
}
h5{
    font-size: 24px;
    font-family: fantasy
}
@media (max-width:767px) {
    #Acard{
        width:500px;
        margin: auto;
    }  
}
@media (max-width:350px) {
    #Acard{
        width:300px;
        margin: auto;
    }  
}

  
  /* Navbar */
  .navbar{
    min-height: 33px !important;
    margin-bottom:0;
    border-radius:0;
  }
  
  .navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px;
  }
  
  .navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .navbar-default .navbar-toggle {
    border-color: #c0392b;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ffbbbc;
  }
  
  /* Custom */
  .main-color-bg{
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color:#ffffff !important;
  }
  
  /* Header */
  #header{
    background:#333333;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  #header .create{
    padding-top: 20px;
  }
  
  /* Breadcrumb */
  .breadcrumb{
    background:#cccccc;
    color:#333333;
  }
  
  .breadcrumb a{
    color:#333333;
  }
  
  /* Progress Bars */
  .progress-bar{
    background:#333333;
    color:#ffffff;
  }
  
  .dash-box{
    text-align:center;
  }
  
  #login{
    margin-top:30px;
  }
  
  /* Footer */
  #footer{
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
  }
  #addpage{
      top:50%;
      background: red
  }
  
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffbbbc;
      background-color: #c0392b;
    }
  }
  