<header>
    <% include ../partials/header %>
</header>
<main>
<div class="jumbotron" id="register">
    <h1>Register</h1>
   <form action="/reg" method="post">
       <div class="form-group">
           <label for="name">Name</label>
           <input type="text" name="name" class="form-control" placeholder="Enter Your Name" required id="name">
       </div>
       <div class="form-group">
        <label for="email">Email</label>
        <input type="email"  name="email" class="form-control" placeholder="E.g example@gmail.com" required id="email"> 
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  name="password" class="form-control" placeholder="Enter password" required id="password">
    </div>
    <div class="form-group">
        <label for="">Secret</label>
        <input type="text"  name="secret" class="form-control" placeholder="Enter any secret data for future purpose" required id="secret">
    </div>
    <button type="submit" class="btn btn-primary btn-lg active">Register</button>
   </form>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>